.input-container{
    padding-top: 30px;
    padding-left: 20px;
}
.formdetails-container{
    height: 105vh;
    width: 100%;
    background-color: white;
}
.label-style{
    color: #003171;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color:rgb(236, 236, 55);
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .file-container{
      padding-top: 20px;
      padding-left: 20px;
  }