@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*------------------------------*/
.portfolio-card {
  background-image: linear-gradient(45deg, #212794 0%, #5d64eb 100%);  
  border: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 20px;
}
.portfolio-card-header{
  padding: 3px;
  padding-right: 7px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}
.portfolio-card-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.portfolio-card-text{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 50px;
}
.portfolio-card:hover{
  background-image: linear-gradient(45deg, #0d1269 0%, #1b23c0 100%);
  transform: translate(-5px,5px);
  cursor: pointer;
  box-shadow: 10px 5px -7px 7px rgba(255, 255, 255,0.1)
}
.button-default{
  margin-left: 5px;
}
