.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: rgba(82, 33, 197, 0.067);
    border-radius: 30px;
    padding: 10px;
    border-color: blue;
    border-width: 15px;
    }

    .search_input{
    color: #212121;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }
    .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 80%;
        caret-color:red;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        columns: #212121;
        }