.home-side-bar{
    background-color: #0d47a1;
    height: 100vh;
}
.home-row{
    padding-top: 20px;
}
/*For first navigation*/

.navigation-tab-container{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
  }
  @media only screen and (max-width: 800px) {
    .navigation-tab-container{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-top: 30px;
      }
  }
/*For second navigation*/