.navigation-container{
    background-color: white;
    border-radius: 40px;
    padding:50px 100px 50px 100px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
    -moz-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
    -webkit-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
    -o-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
    -ms-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
}
@media only screen and (max-width: 800px) {
    .navigation-container{
        background-color: white;
        box-shadow: 0px 3px 6px 0px #588ec0;
        border-radius: 40px;
        padding:50px 100px 50px 100px;        
        margin-top: 50px;
        cursor: pointer;
        box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
        -moz-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
        -webkit-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
        -o-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
        -ms-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
    }
  }

.tap1:active{
    transform: scale(1,0.9);
}
.tap2:active{
    transform: scale(1,0.9);    
}

@media only screen and (max-width: 800px) {
    .options-container{
        padding-top: 10px;
        margin: 0 0 0 0;
        padding-left: 0px !important;
    }
  }
  .options-container{
    padding-left: 20px;
}
